[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
[Oo]utput
[Ww]andb

__pycache__
.empty
best_model
logs
results
output
.ipynb_checkpoints
__pypackages__/
pyvenv.cfg

test.ipynb
test.py
*.pyc
*.json
*.csv
*.pt
*.yaml
*.txt
*.pth
*.bin
*.png

!requirements.txt
!default_config.yaml
!.pre-commit-config.yaml
!sample_submission.csv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store